{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>HelloChat/home</title>
</head>
<body>
    <header>
        <div class="content">

            <h1 class="head">HelloChat</h1>
            <h3>Start Making New friends!!</h3>
            <div class="btn">
                <a href="sign"><input type="submit" value="Sign-up"></a>
                
            </div>
        </div>
        <footer>
            <h5>Copyright 2021 @ Swapnil Saha</h5>
        </footer>
    </header>

</body>

<style>
    .btn a{
        padding-left: 2cm;
        
    }
</style>

    
</html>